@import url("https://fonts.googleapis.com/css?family=Niconne|Pacifico&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-size: 10px;
  letter-spacing: 2px;
}

.logo-name {
  font-family: "Niconne", cursive;
  font-size: 2rem;
}
#root {
  height: inherit;
}

.container {
  display: grid;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: inherit;
}

.card {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 5rem;
  margin:1rem;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.3);
  width: inherit;
}

.logo {
  text-align: center;

}

input {
  padding: 0.5rem;
  width: 80%;
  border:none;
  outline:none;
  border-bottom:1px solid #000;
}
input::placeholder {
  font-family: FontAwesome;
  padding-left: 5px;
  padding-top: 2px;
  color: #777;
}

input::placeholder :active {
  text-align: left;
}
.content {
  text-align: center;
}

.data img{
    clip-path: circle(40%);
    background: #777;
}

.data{
    font-size: 1.1rem;
}